body {
  margin: 0;
}

.navbar {
  border-bottom: 1px solid black;
  padding: 0.5em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.navbar-right {
  display: -webkit-box;
  display: flex;
}

.navbar-right-button {
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

